*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.logo{
    width: 70%;
    margin-bottom: 50px;
}
.buscar{
    margin: 30px;
}
.button {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
.container{
    width: 50%;
    display: block;
    justify-content: center;
    margin-top: 50px;
}
img{
    width: 300px;
    display: block;
    justify-content: center;
}
th{
    font-weight: bold;
}
.detallesPokemon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
}
.detallesPokemon__container{
    min-height: 400px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.detallesPokemon__container--img{
    height: 240px;
    width: 200px;
}
